<h1>Welcome {{user.username}}</h1>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="todoField">Please enter a todo</label>
        <input type="text" class="form-control" id="todoField" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary" id="addTodoBtn">Submit</button>
</form>

<ul class="list-group">
    {{#each userTodos as |todo|}}
        {{#if}}
            <li class="list-group-item list-group-item-primary">{{todo.task}}</li>
        {{/if}}
    {{/each}}
    {{!-- <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li> --}}
</ul>